.outerContainer {
  height: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.subTitle,
.create {
  margin: 1rem;
}
