.plus {
  width: 2rem;
  height: auto;
  background-color: #bacba9;
  border-radius: 50%;
  cursor: pointer;
}

.plus:hover {
  background-color: pink;
}

.bookForm {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 0.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  font-size: 16px;
}
